/* *{
    border: 1px solid white;
}     */
body{
    padding: 0;
    margin: 0;
    /* background-color: #A9A9A9; 
    background-color: #F2F3F4; */
    /* background-color: black; */
    /* background-image: url(background/kratos.jpg);
    background-color: grey;
    background-blend-mode: multiply;  */
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.50)), url(background/plague.jpg);
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
     
}
.home{
    text-decoration: none;
    color: white;
    /* color: #922929;  */
    /* color: #660000; */
    font-family: 'Rubik Dirt', cursive;
    /* text-align: center; */
    font-size: 60px;
    padding-left: 5px;
    margin-bottom: 25px;
    text-shadow: 10px 10px 60px black; 
}
.game-title{
    color: gold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    text-shadow: 5px 5px 10px black;
}
.game-title img{
    width: 400px;
}
ul{
    margin: 0;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    list-style-type: none;
    justify-content: center;
}
.thumb{
    width: 400px;
    transition: transform .4s ease;
    /* border-style:outset;
    border-color: white; */
    border-radius: 5px;
    box-shadow: 5px 5px 50px black;
}
.img-cont:hover .thumb{
    transform: scale(1.01);
}
